aiohttp==3.7.4
asgiref==3.6.0
async-timeout==3.0.1
attrs==22.2.0
blis @ file:///home/conda/feedstock_root/build_artifacts/cython-blis_1668453964546/work
brotlipy @ file:///home/conda/feedstock_root/build_artifacts/brotlipy_1648854164373/work
byol-pytorch==0.6.0
CacheControl==0.12.6
catalogue @ file:///home/conda/feedstock_root/build_artifacts/catalogue_1661366513493/work
certifi==2022.12.7
cffi @ file:///home/conda/feedstock_root/build_artifacts/cffi_1656782830073/work
chardet==3.0.4
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1661170624537/work
click @ file:///home/conda/feedstock_root/build_artifacts/click_1651215153723/work
cloudpickle==2.2.1
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1666700638685/work
confection @ file:///home/conda/feedstock_root/build_artifacts/confection_1673485245719/work
cryptography @ file:///home/conda/feedstock_root/build_artifacts/cryptography-split_1672672393437/work
cycler @ file:///home/conda/feedstock_root/build_artifacts/cycler_1635519461629/work
cymem @ file:///home/conda/feedstock_root/build_artifacts/cymem_1665832344493/work
dask==2023.2.1
dask-glm==0.2.0
dask-ml==2022.5.27
dataclasses @ file:///home/conda/feedstock_root/build_artifacts/dataclasses_1628958434797/work
distributed==2023.2.1
efficientnet==1.1.1
efficientnet-pytorch==0.7.1
et-xmlfile==1.1.0
faiss==1.7.3
fastai @ file:///home/jhoward/mambaforge/conda-bld/fastai_1680035345463/work
fastapi==0.67.0
fastcore @ file:///home/jhoward/mambaforge/conda-bld/fastcore_1680034914245/work
fastdownload @ file:///home/jhoward/mambaforge/conda-bld/fastdownload_1657219113869/work
fastprogress @ file:///home/jhoward/mambaforge/conda-bld/fastprogress_1658473398631/work
filelock==3.9.0
fsspec==2023.1.0
future==0.18.2
h11==0.14.0
h5py==3.8.0
HeapDict==1.0.1
huggingface-hub==0.12.0
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1663625384323/work
imageio==2.25.0
Jinja2 @ file:///home/conda/feedstock_root/build_artifacts/jinja2_1651774399431/work
joblib @ file:///home/conda/feedstock_root/build_artifacts/joblib_1663332044897/work
Keras-Applications==1.0.8
kiwisolver @ file:///home/conda/feedstock_root/build_artifacts/kiwisolver_1657953076186/work
langcodes @ file:///home/conda/feedstock_root/build_artifacts/langcodes_1636741340529/work
llvmlite==0.39.1
locket==1.0.0
MarkupSafe @ file:///home/conda/feedstock_root/build_artifacts/markupsafe_1674135804847/work
matplotlib==3.3.4
mkl-fft==1.3.1
mkl-random @ file:///tmp/build/80754af9/mkl_random_1626186066731/work
mkl-service==2.4.0
msgpack==1.0.4
multidict==6.0.4
multipledispatch==0.6.0
murmurhash @ file:///home/conda/feedstock_root/build_artifacts/murmurhash_1665832352973/work
networkx==3.0
numba==0.56.4
numpy @ file:///croot/numpy_and_numpy_base_1672336185480/work
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
olefile @ file:///home/conda/feedstock_root/build_artifacts/olefile_1602866521163/work
opencv-python-headless==4.5.3.56
openpyxl==3.1.1
openslide-python==1.1.2
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1681337016113/work
pandas==2.0.0
partd==1.3.0
pathy @ file:///home/conda/feedstock_root/build_artifacts/pathy_1670689864140/work
Pillow==9.4.0
platformdirs @ file:///home/conda/feedstock_root/build_artifacts/platformdirs_1679871349196/work
pooch @ file:///home/conda/feedstock_root/build_artifacts/pooch_1677600624926/work
preshed @ file:///home/conda/feedstock_root/build_artifacts/preshed_1665832334610/work
psutil==5.9.4
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1636257122734/work
pydantic @ file:///home/conda/feedstock_root/build_artifacts/pydantic_1679565256950/work
pyOpenSSL @ file:///home/conda/feedstock_root/build_artifacts/pyopenssl_1680037383858/work
pyparsing @ file:///home/conda/feedstock_root/build_artifacts/pyparsing_1652235407899/work
PySocks @ file:///home/conda/feedstock_root/build_artifacts/pysocks_1648857263093/work
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1626286286081/work
python-multipart==0.0.5
pytorch-metric-learning==2.0.1
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1680088766131/work
PyWavelets==1.4.1
PyYAML @ file:///home/conda/feedstock_root/build_artifacts/pyyaml_1648757097602/work
readerwriterlock==1.0.9
redis==3.5.3
regex==2022.10.31
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1673863902341/work
requests-toolbelt==0.9.1
sacremoses==0.0.53
scikit-image==0.19.3
scikit-learn @ file:///croot/scikit-learn_1680198742267/work
scipy==1.10.1
seaborn==0.11.0
Shapely==1.7.1
shellingham @ file:///home/conda/feedstock_root/build_artifacts/shellingham_1676292972954/work
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
smart-open @ file:///home/conda/feedstock_root/build_artifacts/smart_open_1630238320325/work
sortedcontainers==2.4.0
spacy @ file:///home/conda/feedstock_root/build_artifacts/spacy_1678735490081/work
spacy-legacy @ file:///home/conda/feedstock_root/build_artifacts/spacy-legacy_1674550301837/work
spacy-loggers @ file:///home/conda/feedstock_root/build_artifacts/spacy-loggers_1672303484730/work
spicy==0.16.0
srsly @ file:///home/conda/feedstock_root/build_artifacts/srsly_1677657426185/work
starlette==0.14.2
tblib==1.7.0
thinc @ file:///home/conda/feedstock_root/build_artifacts/thinc_1678302736378/work
threadpoolctl @ file:///home/conda/feedstock_root/build_artifacts/threadpoolctl_1643647933166/work
tifffile==2023.2.3
tokenizers==0.13.2
toolz==0.12.0
torch==1.13.1
torchaudio==0.13.1
torchvision==0.14.1
tornado @ file:///home/conda/feedstock_root/build_artifacts/tornado_1656937838435/work
tqdm @ file:///home/conda/feedstock_root/build_artifacts/tqdm_1677887202771/work
transformers==4.26.1
typer @ file:///home/conda/feedstock_root/build_artifacts/typer_1657029164904/work
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1678559861143/work
tzdata @ file:///home/conda/feedstock_root/build_artifacts/python-tzdata_1680081134351/work
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1678635778344/work
uvicorn==0.14.0
wasabi @ file:///home/conda/feedstock_root/build_artifacts/wasabi_1673945957322/work
yarl==1.8.2
zict==2.2.0
